<style>
    form {display: inline;}
</style>

<!--body START-->

<h1>New cat</h1>
<form method="POST" action="/cats">
	<h3>
		Name:  <input name="name"><br>
		Breed: <input name="breed"><br>
		Age:   <input name="age"><br>
		Owner: <input name="owner_name">
	</h3>
	<input type="submit" value="Create">
</form>
